.popup {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0; 

    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s;

}

.popup_content {
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    max-width: 50%;
    left: 20%;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 20px 40px rgba(0 0 0 / 20%);
    border-radius: 20px;
    margin: 100px;
    padding: 50px 40px;

    transform: translate(-50%, -50%) scale(0.25); 
    opacity: 0;
    transition: all 0.5s 0.1s;
}

.popup h1 {
    font-size: 2em;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.popup h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.popup p {
    font-size: 1em;
}

.popup_img {
    display: flex;
    width: 20%;
    margin-bottom: 20px;
    margin-left: 250px;
    margin-top: 20px;
}

.popup_img img{
    display: flex;
    width: 100%;
    height: 100%;
}

/* TEXT KONTEN
.popup_header{
    text-align: center;
    text-transform: uppercase;
    color: #555;
    margin-bottom: 36px;
} 

.popup_header h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.popup_header h2 {
    font-size: 2.1em;
    font-weight: 800;
    margin-bottom: 10px;
}




.popup_text {
    padding: 0 36px;
    line-height: 1.4;
}

.popup_text p:not(:last-child) {
    margin-bottom: 10px;
}*/

#popup:target {
    opacity: 1;
    visibility: visible;
}

#popup:target .popup_content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.popup_close:link,
.popup_close:visited {
    position: absolute;
    top: 12px;
    right: 20px;
    text-decoration: none;
    background-color: red;
    color: white;
    font-size: 30px;
    padding: 2px 3px;
    border-radius: 4px;
    display: inline-block;
    line-height: 1;
    transition: all 0.3s;
}

.popup_close:link,
.popup_close:active {
    color: white;

}
/*.popup {
    z-index: 999999;
    position: fixed;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup_content {
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    max-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding: 50px 40px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 20%);
} */